body {
    background-color: azure; /* setting background to azure */
}

header {
    position: sticky;
    top: 0;
    padding: 5px;
    background-color: #ffffff;
    border: 1px solid #3CA;
    grid-area: header;
}

#navigation {
    text-align: right;
    position: relative;
    right: 5vw;
}

a:link {
    color: hsl(220, 100%, 45%);
}

a:visited {
    color: purple;
}

a:hover {
    color: hsla(290,60%,70%,0.3);
}

a:active {
    color: gray;
}

button[type] {
    background-color: springgreen;
}

/* customizing sections */
section {
    width: 60vw;
    padding: 5px 5px 5px 10vw;
    border-width: thin;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-radius: 0%;
    margin: 5px 5px 5px 5px;
}

/*cutsomizing header */
.header {
    padding-top: 0%;
    padding-left: 0%;
    padding-bottom: 0%;
    padding-right: 0%;
    margin: auto;
    color: rgb(126, 126, 126, 0.9);
}

/* setting height and width of picture */
#picture {
    padding: 5px;
    margin: 5px;
    height: auto;
    width: auto;
}

/*box model for p in body */
body p {
    padding: 0%;
    margin-top: 1ch;
    margin-left: 5vw;
    margin-bottom: 1ch;
    margin-right: 1ch;
}

div, p {
    text-align: left;
    display: inline-block;
}

form + p {
    padding: 0%;
    margin-top: 1ch;
    margin-left: 5vw;
    margin-bottom: 1ch;
    margin-right: 1ch;
}

p.synopsis {
    text-decoration: underline;
}

ul > section {
    display: block;
    padding: 0%;
    margin-top: 1ch;
    margin-left: 5vw;
    margin-bottom: 1ch;
    margin-right: 1ch;
}

p ~ ol {
    display: block;
    padding: 0%;
    margin-top: 1ch;
    margin-left: 5vw;
    margin-bottom: 1ch;
    margin-right: 1ch;
}

table {
    width: 300px;
    min-width: 50%;
    max-width: 100%;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.grid-container {
    display: grid;
    grid-template-areas: 
        'header'
        'main'
        'footer';
    grid-gap: 10px;
    padding: 10px;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

@media only screen and (max-width: 700px) {
    body {
        background-color: rgb(226, 197, 176);
    }
}